body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.profile-page {
  background: url('https://i.imgur.com/CGoIHOO.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  color: white;
  padding: 20px;
}

.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.profile-info {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
}

.profile-name {
  font-size: 2em;
  margin-bottom: 10px;
}

.profile-description {
  font-size: 1.2em;
  margin: 20px 0;
}

.profile-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.profile-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s;
}

.profile-links a:hover {
  color: #ddd;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.button-group button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0; 
}

.button-back {
  background-image: url('https://i.imgur.com/O7GrzUu.png');
  width: 80px; 
  height: 80px; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.button-home {
  background-image: url('https://i.imgur.com/ByYe8Yp.png');
  width: 80px; 
  height: 80px; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.button-group button:hover {
  transform: scale(1.05);
}
