@font-face {
  font-family: 'PokemonFont';
  src: url('/assets/fonts/pokemon-font.ttf') format('truetype');
}

.detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-image: url('https://i.imgur.com/JZ6t2A7.jpg');
  background-size: cover;
  background-position:bottom;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: rgba(248, 248, 248, 0.938); /* Ensure text is readable over the background */
}

.detail-page img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.detail-page p {
  margin: 5px 0;
}

.detail-page .attributes {
  background-color: rgba(0, 0, 0, 0.452); /* Semi-transparent background */
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  max-width: 650px;
}

.pokemon-name {
  font-family: 'PokemonFont', sans-serif;
  text-transform: capitalize;
  margin-bottom: 20px;
}
