@font-face {
  font-family: 'PokemonFont';
  src: url('/assets/fonts/pokemon-font.ttf') format('truetype');
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
}

.card-image {
  width: 100px;
  height: 100px;
}

.pokemon-name {
  font-family: 'PokemonFont', sans-serif;
  text-transform: capitalize;
}
