.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-list {
  list-style: none;
  display: flex;
}

.pagination-item {
  margin: 0 5px;
}

.pagination-link {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pagination-link:hover {
  background-color: #ddd;
}
